.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transition: 0.5s;
}

.product:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 10px 5px;
  cursor: pointer;
}

.product > button {
  background: #ffb700;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
}

.product > button:hover {
  background-color: #e4a912;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__info > h4 {
  font-weight: 400;
  font-size: 1em;
  cursor: pointer;

}

.product__info > h4:hover {
  text-decoration: underline;
}