.product-details {
    display: flex;
    transition: 1s;
}

.left_container {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    background-color: #232931;
    transition: 1s;

}

.image_container {
    display: flex;
    align-items: top;
    margin: 10px;
    padding: 10px;
    transition: 1s;

}

.more_images {
    display: block;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: white;
    transition: 1s;

}

.more_images>img {
    display: flex;
    object-fit: contain;
    width: 50px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
    transition: 1s;
}

.image_container>img {
    display: flex;
    object-fit: contain;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    transition: 1s;
}

.button_container {
    display: flex;
    align-items: left;
    justify-content: top;
    margin: 5px 10px;
    padding: 5px 10px;
}

.add-to-cart {
    margin: 0 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 300;
    background-color: lightgrey;
    color: #131921;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.1s;

}

.add-to-cart:hover {
    background-color: rgb(171, 171, 171);
}

.buy-btn {
    margin: 0 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: #ffb700;
    border: none;
    border-radius: 5px;
    color: #111;
    font-size: 25px;
    font-weight: 300;
    transition: 0.1s;

}

.buy-btn:hover {
    background-color: #e4a912;

}

.right_container {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: left;
    justify-content: top;

}

.right_container>h2 {
    margin: 5px 10px;
    padding: 10px;
}

.rating_container {
    display: flex;
    margin: 5px 10px;
    padding: 10px;
}

.price_container {
    margin: 5px 10px;
    padding: 10px;
    font-size: 25px;
}

.description_container {
    margin: 10px;
    padding: 10px;
}

.reviews_container {
    margin: 10px;
    padding: 10px;
}