.checkout_product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  transition: 0.5s;
}

.checkout_product:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.checkout_product_info {
    padding: 0 20px;
}

.checkout_product_info > button {
    background: #f0c14b;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
    color: #111;
    cursor: pointer;
}

.checkout_product_info > button:hover {
    background-color: #e4a912;
}

.checkout_product_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkout_product_rating {
    display: flex;
}

.checkout_product_title {
    font-size: 17px;
    font-weight: 800;
}
