.checkout {
    display: flex;
    padding: 20px;
    background-color: #f3f3f3;
    height: max-content;
}

.checkout__ad {
    width: 98%;
    margin: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.checkout_left h3 {
    margin-left: 10px;
    padding: 0;
}

.cart_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_status>button {
    display: flex;
    margin: 5px 30px;
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;
    background-color: lightgrey;
    color: #131921;
    border-radius: 5px;
    border: none;
    outline: none;
}