.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgrey;
    background-color: white;
    position: relative;
}

.order_details {
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
}

.order_details>p {
    display: flex;
}

.order_id {
    display: flex;
}

.order_total {
    font-weight: 500;
    text-align: right;
}