.header {
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  font-family: "Kaushan Script", cursive;
  font-size: 1.6rem;
  color: #f9f9f9;
  width: 120px;
  margin: 0 20px;
  padding: 5px;
}

.header_logo:hover {
  cursor: pointer;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

.header_delivery {
  color: rgba(236, 226, 226, 0.699);
  font-size: 0.75rem;
}

.header_deliveryAddr {
  font-size: 1.1rem;
  font-weight: 20;
}

.header_search {
  display: flex;
  flex: 1;
  border-radius: 45px;
  align-items: center;
  padding: 2px;
}

.header_searchCatogory{
    background-color: rgba(248, 230, 230, 0.945);
    font-size: 14px;
    height: 30px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.header_searchInput {
  height: 20px;
  padding: 10px;
  width: 100%;
  border: none;  
}

.header_searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: #dfa963;
  font-size: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.header_searchIcon:hover{
    background-color: #c0720b;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  color: #f9f9f9;
}

.header_option:hover {
  cursor: pointer;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header_optionBasket {
  position: relative;
  display: flex;
  align-items: center;
  color: #f9f9f9;
}

.header_optionBasket:hover {
    cursor: pointer;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
  }

.header_cart {
  font-size: 40px;
  margin-right: 10px;
  padding: 5px;
}

.header_basketCount {
  font-size: 15px;
  position: absolute;
  left: 1.4rem;
  bottom: 1.1rem;
  z-index: 100;
  color: #cd9042;
}
