.header {
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #131921;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 50;
}

.header_logo {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  color: #f9f9f9;
  /* width: 120px; */
  margin: 0 20px;
  padding: 0 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.header_logo:hover {
  border: 1px solid white;
}

/* *********************************************DELIVERY  */
.header_delivery {
  color: rgb(225, 225, 225);
  font-size: 0.55em;
  align-self: center;
}

.header_deliveryAddr {
  color: #f3f3f3;
  font-size: 0.85em;
  font-weight: 20;
  align-self: center;
}

/* ********************************************* SEARCH */
.header_search {
  display: flex;
  flex: 1;
  border-radius: 45px;
  align-items: center;
  /* max-width: 830px; */
  min-width: 150px;
  padding: 2px;
}

.header_searchCatogory {
  background-color: #f3f3f3;
  font-size: 0.8em;
  height: 25px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-right: 0.1px solid rgb(216, 216, 216);

}

.header_searchCatogory span {
  display: flex;
}

.header_searchInput {
  height: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

.header_searchIcon {
  padding: 5px 10px;
  height: 25px !important;
  background-color: #dfa963;
  font-size: 1.2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header_searchIcon:hover {
  background-color: #c0720b;
}

/* ***********************************************NAV OPTIONS */
.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_optionLang {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.header_optionLang span {
  color: #f9f9f9;
  font-size: 0.8em;
}

.header_optionLangArrow {
  color: #f9f9f9;
}

.header_option {
  /* display: inline-flex; */
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 5px;
  color: #f9f9f9;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.header_option:hover {
  border: 1px solid #f9f9f9;
}

.header_optionLineOne {
  margin-top: 10px;
  display: flex;
  font-size: 0.6em;
}

.header_optionLineTwo {
  display: flex;
  font-size: 0.8em;
  font-weight: 800;
  margin-bottom: 10px;
}

/* *******************************************************CART */
.header_optionBasket {
  display: flex;
  color: #f9f9f9;
  padding: 5px;
  margin: 0px 10px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
}

.header_optionBasket:hover {
  border: 1px solid #f9f9f9;
}

.header_cart {
  display: flex;
  font-size: 2.5em;
}

.header_basketCount {
  display: block;
  font-size: 0.7em;
  font-weight: 500;
  padding: 5px;
  padding-top: 10px;
  font-size: 18px;
  color: #cd9042;
}
