.payment {
    background-color: white;
}

.payment_container>h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment_container>h1>a {
    text-decoration: none;
    color: rgb(19, 25, 33);

}

.payment_container>h1>a:hover {
    text-decoration: underline;
}

.payment_container>h1>a:focus {
    color: rgb(19, 25, 33);
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address,
.payment__items {
    flex: 0.8;
}